$skin-color:#bfa67a; //replace this color code with your favorite one
$default-font: 'Open Sans', sans-serif; //default font of this template
$title-font:'Dosis', sans-serif; // title font of this template
$base-color:#666;
$default-color:#f5f5f5;
$red-color:#e74955;
$sea-green-color:#06d291;
$green-color:#a5d16c;
$blue-color:#32b3f6;
$yellow-color:#FFB400;
$gold-color:#dbcf08;
$purple-color:#9D4A9C;
$orange-color:#F37B53;


